
.nobootstrap { min-width: unset; padding: unset;}
.bootstrap .page-head>.wrapper { display: none; }
.bootstrap .page-head {height: 10px;}
body {
    background-color: #dee2e8;
}

.bootstrap .row {padding-left: 15px;}
.frank {
    height: auto;
}

.frank .container-header {
    margin-top: -105px;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 4fr 0.3fr 0.3fr;
    background-color: white;
}

.frank .container-header > div {align-self: center}
.frank .container-header > div > a {text-decoration: none; color: #e07047; }
.frank .container-header > .frank-shipping > a { color: #9c9c9c; }
.frank .container-header .frank-logo { font-size: 20px; font-weight: bold; }

.frank .frank-shipping{font-weight: bold; }
.frank .frank-returns{font-weight: bold; }
.frank .frank-chart{justify-self: center; }
.frank .frank-settings{justify-self: center; }

.container-main-page { display: none; }
.container-main-page-active { display: block; }

.frank .mid-header {
    margin-top: 30px;
}

.frank .mid-header .btn-search {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 31px;
    border-right: none;
    border-bottom: 2px solid #e07047;
    border-left: 2px solid #e07047;
    border-top: 2px solid #e07047;
    background-color: whitesmoke;
}

.frank .mid-header .input-search {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 220px;
    border-left: none;
    border-bottom: 2px solid #e07047;
    border-right: 2px solid #e07047;
    border-top: 2px solid #e07047;
    color: #e07047;
}

.frank .mid-header .input-search::placeholder {color: #e07047; opacity: 1; padding-left: 15px }

.frank .mid-header .btn-new-shipment {
    /*display: inline-block;*/
    border-radius: 25px;
    border: 2px solid #e07047;
    width: 170px;
    height: 45px;
    color: #e07047;
    font-weight: bold;
    font-size: 14px;
}

.frank .mid-header .upload-file {
    text-decoration: none;
    color: #e07047;
    font-weight: bold;
    font-size: 14px;
    padding-right: 5px;
}

.frank .tabs-container {
    height: auto;
    margin-top: 30px;
}

.frank .tabs-container .buttonContainer button {
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    background-color: #c6cbd1;
    color: #474645;
    border-radius: 12px 12px 0 0;
    display: inline-block;
    margin-right: 10px;
}

.tabPanelTable {
    width: 97%;
    table-layout: fixed;
}

.tabPanelTable thead tr {
    height: 40px;
    padding-left: 30px!important;
    background-color: #e07047;
    color: whitesmoke;

}

.tabPanelTable thead tr th:last-child {
    border-radius: 0 12px 0 0;
}

.tabPanelTable thead tr th {
    padding-left: 40px;
}

.tabPanelTable tbody tr td {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c6cbd1;
    background-color: whitesmoke;
    font-weight: bold;
}

.tabPanelTable tbody tr td a {
    color: unset;
}



.tabPanelTable tbody tr:nth-child(even)
{ color: #e07047; }

/*.tabs-container .btn-support {*/
/*    float: right;*/
/*    margin-right: 35px;*/
/*    margin-top: 35px;*/
/*    width: 140px;*/
/*    height: 35px;*/
/*    border-radius: 25px;*/
/*    border: 2px solid #e07047;*/
/*    background-color: #e07047;*/
/*    color: whitesmoke;*/
/*}*/

.container-upload-page { display: none; }
.container-upload-page-active { display: block; }
