
.nobootstrap { min-width: unset; padding: unset;}
.bootstrap .page-head>.wrapper { display: none; }
.bootstrap .page-head {height: 10px;}
body {
    background-color: #dee2e8;
}

.bootstrap .row {padding-left: 15px;}
.frank {
    height: auto;
}

.frank .container-header {
    margin-top: -105px;
    width: 100%;
    height: 100px;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 0.5fr 4fr 0.3fr 0.3fr;
    background-color: white;
}

.frank .container-header > div {align-self: center}
.frank .container-header > div > a {text-decoration: none; color: #e07047; }
.frank .container-header .frank-logo { font-size: 20px; font-weight: bold; }

.frank .frank-shipping{font-weight: bold; }
.frank .frank-returns{font-weight: bold; }
.frank .frank-chart{justify-self: center; }
.frank .frank-settings{justify-self: center; }

/*Account*/

.ctr-1 {
    display: none;
}

.ctr-active {
    display: block;
}
.ctr-1 {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.row-settings {
    padding: 10px;
}

.col-menu { height: 110px!important;}
.col-menu a { color: #b1b1b1; font-size: 13px; }
.col-menu a:hover { color: #e07047; }

.row-settings input { border-radius: 9px!important; }
.row-settings label { font-size: 14px!important; }
.row-settings a { text-decoration: none!important; font-weight: unset!important; }
.row-settings p { font-size: 14px!important; }

.ctr-1 .row-settings .email-css {
    background-color: #f5f8f9;
    border: 1px solid #c7d6db;
    width: 100%;
    font-size: 12px;
    line-height: 1.42857;
    height: 31px;
}

.col-menu {
    margin-left: 30px;
}

.col-contact-detail { background-color: white; height: auto; border-radius: 9px; padding: 20px; }
.col-menu { background-color: white; height: auto; border-radius: 9px; padding: 20px; }

.col-email-address { background-color: white; height: auto; border-radius: 9px; padding: 20px;}
.col-change-password { background-color: white; height: auto; border-radius: 9px; padding: 20px;}
.col-delete-account { background-color: white; height: auto; border-radius: 9px; padding: 20px;}

.row-settings .contact-detail-save { width: 175px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold;}
.row-settings .email-address-verification { width: 200px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold; }
.row-settings .email-address-add { width: 100px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold; }
.row-settings .change-password-save { width: 150px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold; }
.row-settings .delete-account-btn { width: 230px; height: 45px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; font-weight: bold; margin-top: 50px;}

/*Invoice*/

.ctr-2 {
    display: none;
}

.ctr-active {
    display: block;
}
.ctr-2 {
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.ctr-2 button {
    width: 175px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold;
}
.ctr-3 button {
    width: 175px; border-radius: 25px!important; border: 2px solid #e07047; color: #e07047; background-color: white; height: 30px; font-weight: bold;
}

/*Warehouse*/

.ctr-3 {
    display: none;
}

.ctr-active {
    display: block;
}
.ctr-3 {
    margin-top: 20px;
    width: 100%;
    height: auto;
}


/*map mosal -------------------------------------------------------------------------------------------------------------------------------------*/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 350px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
.pac-container{
    z-index: 9999;
}
.modal-body{
    height: 400px;
}